.centered-content {
  margin: auto;
  text-align: center;
}


.sign-up-wizard aw-wizard-navigation-bar.horizontal ul.steps-indicator li.current:after {
  border-color: $default-primary !important;
}

.sign-up-wizard aw-wizard-navigation-bar.horizontal ul.steps-indicator li.done:after {
  border-color: $default-primary !important;
  background-color: $default-primary !important;
  color: white !important;
}

.sign-up-wizard aw-wizard-navigation-bar.horizontal ul.steps-indicator li.editing:after {
  border-color: $default-primary !important;
  color: $default-primary !important;
}


.sign-up-wizard aw-wizard-navigation-bar.horizontal ul.steps-indicator li div a {
  text-transform: none !important;
}

.touched-valid  {
  border-left: 5px solid $default-success;
}

.touched-invalid {
  border-left: 5px solid $default-danger;
}

input:focus {
  border-color: $default-primary !important;
}

select:focus {
  border-color: $default-primary !important;
}

.btn-primary:disabled {
  border-color: $default-primary;
  background-color: $default-white;
  color: $default-dark;
}
