<settings>
    <servers>
        <server>
            <id>bintray-demkada-maven</id>
            <username>${env.BINTRAY_USERNAME}</username>
            <password>${env.BINTRAY_API_KEY}</password>
        </server>
        <server>
            <id>bintray-demkada-m2-sanpshot</id>
            <username>${env.BINTRAY_USERNAME}</username>
            <password>${env.BINTRAY_API_KEY}</password>
        </server>
    </servers>
</settings>