<div class="authentication">
  <div class="sign-in">
    <div class="row no-mrg-horizon">
      <div class="col-md-8 no-pdd-horizon d-none d-md-block">
        <div class="full-height bg" style="background-image: url('assets/images/others/img-29.jpg')">
          <div class="img-caption">
            <h1 class="caption-title">{{'caption_title' | translate}}</h1>
            <p class="caption-text">{{'caption' | translate}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 no-pdd-horizon">
        <div class="full-height bg-white height-100">
          <div class="vertical-align full-height pdd-horizon-70">
            <div class="table-cell">
              <div class="text-center">
                <img class="rounded" src="assets/images/logo/logo-sm.png" alt="Guard">
                <p>{{'login_catchphrase' | translate}}</p>
              </div>
              <div *ngIf="context?.adapters?.length > 0" class="text-center">
                <p class="adapter-login">{{'login_with' | translate }}</p>
                <div class="row">
                  <div *ngFor="let adapter of context?.adapters" [class]="context?.adapters?.length === 1 ? 'col-md-12' : context?.adapters?.length % 3 === 0 ? 'col-md-4' : 'col-md-6'">
                    <button (click)="redirectToAdapter(adapter.id)" class="btn btn-primary">
                      <i class="ti-user pdd-right-5"></i>
                      <span>{{adapter.name}}</span>
                    </button>
                  </div>
                </div>
                <hr class="hr-text" [attr.data-content]="'or_login_with' | translate"/>
              </div>
              <div *ngIf="!context?.disable_internal_idp" class="pdd-horizon-15">
                <form #signInform="ngForm">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="{{'email' | translate}}" id="input-email" name="email"
                           [(ngModel)]="user.email"  #email="ngModel" required
                           [class.touched-invalid]="email.touched && email.invalid"
                           [class.touched-valid]="email.valid">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="{{'password' | translate}}" id="input-pwd" name="pwd"
                           [(ngModel)]="user.pwd" #pwd="ngModel" required
                           [class.touched-invalid]="pwd.touched && pwd.invalid"
                           [class.touched-valid]="pwd.valid">
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <span class="font-size-13 pull-right pdd-top-10"><a href="#" (click)="requestPasswordResetLink()">{{'forgot_password' | translate}}</a></span>
                    </div>
                    <div class="col-md-6">
                      <button [disabled]="!signInform.valid" class="btn btn-primary button-next pull-right btn-rounded" (click)="signIn()">{{'login' | translate}}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="login-footer">
            <img class="img-responsive inline-block" src="assets/images/logo/logo.png" width="100" alt="Guard">
            <span *ngIf="!context?.disable_internal_idp" class="font-size-13 pull-right pdd-top-10">{{'no_account' | translate}} <a routerLink="/auth/sign-up" (click)="signUp()">{{'signup_now' | translate}}</a></span>
            <div class="text-center">v{{context?.version}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
