<div class="authentication">
  <div class="sign-up">
    <div class="row no-mrg-horizon">
      <div class="col-md-12 bg-white no-pdd-horizon">
        <div class="row">
          <div class="col-md-12">
            <div class="full-height height-100">
              <div class="vertical-align full-height pdd-horizon-70">
                <div class="table-cell">
                  <div class="text-center">
                    <img class="rounded" src="assets/images/logo/logo-sm.png" alt="Guard">
                    <p>{{'reset_Guard_password' | translate }}</p>
                  </div>
                  <div class="pdd-horizon-15">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="card">
                          <div class="card-block">
                            <div class="row relative">
                              <div class="col-md-10 ml-auto mr-auto">
                                <aw-wizard [navBarLayout]="'large-empty-symbols'" class="sign-up-wizard">
                                  <aw-wizard-step stepTitle="{{'signup_basic_info' | translate }}" [navigationSymbol]="{ symbol: '1' }">
                                    <form #newPasswordform="ngForm">
                                      <div class="form-group">
                                        <label class="text-normal text-dark">{{'new_password' | translate}}*</label>
                                        <input type="password" class="form-control" id="input-pwd" name="pwd"
                                               [(ngModel)]="user.pwd" #pwd="ngModel" required
                                               [class.touched-invalid]="pwd.touched && (pwd.invalid || pwdStrength < 1 )"
                                               [class.touched-valid]="pwd.valid">
                                        <password-strength-meter [enableFeedback]="true" [password]="user.pwd" (strengthChange)="setPwdStrength($event)"></password-strength-meter>
                                      </div>
                                      <div class="form-group">
                                        <label class="text-normal text-dark">{{'confirm_new_password' | translate}}*</label>
                                        <input type="password" class="form-control" id="input-confirmPwd"
                                               [(ngModel)]="user.confirmPwd" name="confirmPwd" #confirmPwd="ngModel"
                                               [class.touched-invalid]="confirmPwd.value != pwd.value"
                                               [class.touched-valid]="confirmPwd.dirty && (confirmPwd.value == pwd.value)" required>
                                      </div>
                                      <div class="mrg-top-20">
                                        <button [disabled]="!newPasswordform.valid || pwdStrength < 1 || (user.pwd != user.confirmPwd)" class="btn btn-primary pull-right btn-rounded" awNextStep>{{'next_step' | translate}}</button>
                                      </div>
                                    </form>
                                  </aw-wizard-step>
                                  <aw-wizard-step stepTitle="{{'signup_security_info' | translate }}"  [navigationSymbol]="{ symbol: '2' }">
                                    <form #securityInfoForm="ngForm">
                                      <div class="form-group">
                                        <label for="secQuestion1">{{'first_security_question' | translate}}</label>
                                        <select class="form-control"  id="secQuestion1"
                                                required
                                                #secQuestion1Key="ngModel"
                                                [class.touched-invalid]="((secQuestion1Key.touched || secQuestion1Key.dirty) && secQuestion1Key.invalid) || secQuestion1Key.value === secQuestion2Key.value "
                                                [class.touched-valid]="secQuestion1Key.valid"
                                                [(ngModel)]="secQuestion1.key" name="secQuestion1">
                                          <option *ngFor="let q of securityQuestions" [value]="getKey(q)">{{getValue(q)}}</option>
                                        </select>
                                        <label></label>
                                        <input type="text" class="form-control" id="input-secQuestion1" name="secQuestion1Resp" placeholder="{{'first_answer' | translate}}"
                                               [(ngModel)]="secQuestion1.response" #secQuestion1Resp="ngModel" required
                                               [class.touched-invalid]="((secQuestion1Resp.touched || secQuestion1Resp.dirty) && secQuestion1Resp.invalid) || secQuestion1Key.value === secQuestion2Key.value"
                                               [class.touched-valid]="secQuestion1Resp.valid">
                                      </div>
                                      <div class="form-group">
                                        <label for="secQuestion2">{{'second_security_question' | translate}}</label>
                                        <select class="form-control"  id="secQuestion2"
                                                required
                                                #secQuestion2Key="ngModel"
                                                [class.touched-invalid]="((secQuestion2Key.touched || secQuestion2Key.dirty) && secQuestion2Key.invalid) || secQuestion1Key.value === secQuestion2Key.value"
                                                [class.touched-valid]="secQuestion2Key.valid"
                                                [(ngModel)]="secQuestion2.key" name="secQuestion2">
                                          <option *ngFor="let q of securityQuestions" [value]="getKey(q)">{{getValue(q)}}</option>
                                        </select>
                                        <label></label>
                                        <input type="text" class="form-control" id="input-secQuestion2" name="secQuestion2Resp" placeholder="{{'second_answer' | translate}}"
                                               [(ngModel)]="secQuestion2.response" #secQuestion2Resp="ngModel" required
                                               [class.touched-invalid]="((secQuestion2Resp.touched || secQuestion2Resp.dirty) && secQuestion2Resp.invalid) || secQuestion1Key.value === secQuestion2Key.value"
                                               [class.touched-valid]="secQuestion2Resp.valid">
                                      </div>
                                      <div class="mrg-top-20">
                                        <button class="btn btn-default button-previous btn-rounded" awPreviousStep>{{'previous_step' | translate}}</button>
                                        <button [disabled]="!securityInfoForm.valid || secQuestion1Key.value === secQuestion2Key.value" class="btn btn-primary button-next pull-right btn-rounded" (click)="resetPassword()">{{'reset_password' | translate}}</button>
                                      </div>
                                    </form>
                                  </aw-wizard-step>
                                </aw-wizard>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
